body{
   background-color: black;
}
div{
    color:white;
}
h1,h2,h3,h4{
    text-align:center;
}
img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
#input-city{
    width:80vh;
    height:5vh;
    border:2px solid gray;
}
.current{
    margin-top:10px;
    width:50vh;
    height:7vh;
    border:2px solid gray;
    color:rgb(13, 2, 2);
    background-color: rgb(23, 231, 96);
}
button{
    width:20vh;
    height:5vh;
    border:2px solid gray;
    color:white;
    background-color: blue;
}

